<h1>{{title}}</h1>
<p>
<ul>
  <li><a href="{{context_path}}/demo/responses/text.groovy" target="_blank">show text/plain page(utf-8)</a></li>
  <li><a href="{{context_path}}/demo/responses/text.groovy?cs=Windows-31J" target="_blank">show text/plain page(Windows-31J)</a></li>
  <li><a href="{{context_path}}/demo/responses/text.groovy?cs=euc-jp" target="_blank">show text/plain page(euc-jp)</a></li>
  <li><a href="{{context_path}}/demo/responses/image.groovy" target="_blank">show image/png</a></li>
  <li><a href="{{context_path}}/demo/responses/json.groovy?pretty=on" target="_blank">show application/json</a></li>
  <li><a href="{{context_path}}/demo/responses/attachment.groovy">download(Content-Disposition: attachment)</a></li>
</ul>
</p>
