<h1>{{title}}</h1>
<div>
  <h3>Name - Values in URL Query</h3>
  <ul>
  {{#gets}}
  <li>{{key}}<ul>{{#values}}<li>{{.}}</li>{{/values}}</ul></li>
  {{/gets}}
  {{^gets}}<li>(empty)</li>{{/gets}}
  </ul>
</div>
<div>
  <h3>Name - Values in multipart/form-data, form-field</h3>
  <ul>
  {{#posts}}
  <li>{{key}}<ul>{{#values}}<li>{{.}}</li>{{/values}}</ul></li>
  {{/posts}}
  {{^posts}}<li>(empty)</li>{{/posts}}
  </ul>
</div>
<div>
  <h3>Name - Values in multipart/form-data, file-field</h3>
  <ul>
  {{#files}}
  <li>{{key}}<ul>{{#values}}<li>{{content_type}}, {{size}}, {{{content_body}}}</li>{{/values}}</ul></li>
  {{/files}}
  {{^files}}<li>(empty)</li>{{/files}}
  </ul>
</div>
<h3>Request Form</h3>
<form action="{{context_path}}/demo/forms/multipart.groovy?var1=val1&amp;var2=%E6%97%A5%E6%9C%AC%E8%AA%9E&amp;%E6%97%A5%E6%9C%AC%E8%AA%9E%E3%82%AD%E3%83%BC=%E6%97%A5%E6%9C%AC%E8%AA%9E%E5%80%A4&amp;arr1=el1&amp;arr1=el2%22%27%3C%26%3E&amp;%E6%97%A5%E6%9C%AC%E8%AA%9E%E9%85%8D%E5%88%97=%E6%97%A5%E6%9C%AC%E8%AA%9E%E8%A6%81%E7%B4%A01&amp;%E6%97%A5%E6%9C%AC%E8%AA%9E%E9%85%8D%E5%88%97=%E6%97%A5%E6%9C%AC%E8%AA%9E%E8%A6%81%E7%B4%A02" method="post" enctype="multipart/form-data" class="form-horizontal">
  <table class="table">
    <tr>
      <th>var1</th>
      <td><input type="text" name="var1" value="val1"></td>
    </tr>
    <tr>
      <th>var2</th>
      <td><input type="text" name="var2" value="日本語"></td>
    </tr>
    <tr>
      <th>arr1(1)</th>
      <td><input type="text" name="arr1" value="el1"></td>
    </tr>
    <tr>
      <th>arr1(2)</th>
      <td><input type="text" name="arr1" value="el2"></td>
    </tr>
    <tr>
      <th>画像ファイルアップロード</th>
      <td><input type="file" name="imagefile"></td>
    </tr>
    <tr>
      <th>画像ファイルアップロード(配列)(1)</th>
      <td><input type="file" name="imagearray"></td>
    </tr>
    <tr>
      <th>画像ファイルアップロード(配列)(2)</th>
      <td><input type="file" name="imagearray"></td>
    </tr>
  </table>
  <button type="submit" class="btn">send</button>
</form>
<p>
  <a href="{{context_path}}/demo/forms/">back</a>
</p>
