<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>separateRequestFilter</filter-name>
    <filter-class>gsst.SeparateRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>separateRequestFilter</filter-name>
    <url-pattern>*.groovy</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>gsst.SampleContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>
  <servlet>
    <servlet-name>Groovlet</servlet-name>
    <servlet-class>gsst.AdjustedGroovyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UrlMapper</servlet-name>
    <servlet-class>gsst.UrlMapForwarderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.WebServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Groovlet</servlet-name>
    <url-pattern>*.groovy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UrlMapper</servlet-name>
    <url-pattern>/demo/urlmap/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/console/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.groovy</welcome-file>
  </welcome-file-list>
</web-app>
